<%- include("./partials/header") %>
<%- include("./partials/navbar") %>

<div class="container">
    <h1>All Blogs </h1>
    <% blogs.forEach(blog =>{ %>
        <div class="card mt-5" style="width: 18rem;">
            <div class="card-body">
              <p class="text-muted"><%= blog.postedAt%> </p>
              <h5 class="card-title"> <%= blog.title%> </h5>
              <p class="card-text"><%= blog.content%> </p>
              <a href="#" class="btn btn-primary">Read More...</a>
            </div>
        </div>
    <% })%>
</div>

<%- include("./partials/footer") %>


