<%- include("./partials/header") %>
<%- include("./partials/navbar") %>
<%- include("./partials/billboard") %>

<div class="container">
  <div class="row">
    <% blogs.reverse() %>

    <% blogs.forEach(blog =>{ %>
      <div class="col-md-4">
        <div class="card mt-5">
              <img class="mb-3 img-fluid" src="/uploads/<%= blog.image %>" >
              <p class=" posted"><%= blog.postedAt %> </p>
              <h5 class="card-title"> <%= blog.title %> </h5>
            
              <% let longContent = blog.content %>
              <% let shortContent = longContent.slice(0 , 40)%>

              <p class="card-text"><%= shortContent %> </p>
              <div class="btn-body ">
                 <a href="/blog/<%= blog._id %>" class="btn ">See Recipe</a>
              </div>
        </div>
      </div>
    <% })%>
    <img src="/images/img5.png" class="home-img">

  </div>
</div>

<%- include("./partials/footer") %>


