<%- include("./partials/header") %>
<%- include("./partials/navbar") %>
<!-- <img src="/images/img5.png" class="home-img"> -->

<div class="container mt-5">
    <!-- <p class="mb-3"><%= blog.postedAt %> </p> -->
    <img src="/uploads/<%= blog.image %>" class="particular-img "/>
    <h3 class="card-title mb-2 mt-4"> <%= blog.title %> </h3>

    <br>
    <h4 class="particular-topic">Ingredients</h4>

    <p class="card-text"><%= blog.content %> </p>

    <hr>

    <a href=" /delete/<%= blog._id %>" class="btn ">Delete</a>
    <a href=" /edit/<%= blog._id %>" class="btn ">Edit</a>
</div>

<%- include("./partials/footer") %>