<%- include("./partials/header") %>
<%- include("./partials/navbar") %>

<div class="container mt-5">
    <p class="text-muted"><%= blog.postedAt %> </p>
    <h5 class="card-title"> <%= blog.title %> </h5>
    <p class="card-text"><%= blog.content %> </p>


</div>



<%- include("./partials/footer") %>